body{
    padding:0;
    margin: 0px;
    background-color: #142b47;
}
.header{
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 0px;
}
.col-md-4{
    float: left;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
.single-portfolio{
    position: relative;
    overflow: hidden;
}
.portfolio-img{
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition:all .5s;
    -o-transition: all.5s;
    transition: all .5s;
}
.portfolio-text{
    position: absolute;
    bottom:0;
    padding:10px;
    width:100%;
    background-color: rgba(0,0,0,0.7);
    color:rgb(230, 223, 223);
    -webkit-tranform:translateY(100%) ;
    -moz-transform: translateY(100%);
    -ms-transform:translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition:all .5s ease-out;
    -o-transition: all.5s ease-out;
    transition: all .5s ease-out;

}
.portfolio-text p{
    text-decoration: none;
    text-align: justify;
}
.portfolio-text p a{
    text-decoration: none;
    color:#f2f2f2;
    
}
.portfolio-text h3{
    text-decoration: none;
    color:#f2f2f2;
    
}
.single-portfolio:hover .portfolio-text{
    -webkit-tranform:translateY(0) ;
    -moz-transform: translateY(0);
    -ms-transform:translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.single-portfolio:hover .portfolio-img{
    -webkit-tranform:scale(1.15) ;
    -moz-transform: scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}

.contain{
    width:1200px;
    min-height: 500px;
    background:rgb(180, 204, 93);
    margin:70px auto 0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.containA{
    width:1200px;
    min-height: 500px;
    background:aqua;
    margin:70px auto 0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.containB{
    width:1200px;
    min-height: 500px;
    background:greenyellow;
    margin:70px auto 0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.containC{
    width:1200px;
    min-height: 500px;
    background:rgb(93, 163, 204);
    margin:70px auto 0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.containD{
    width:1200px;
    min-height: 500px;
    background:wheat;
    margin:70px auto 0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.containE{
    width:1200px;
    min-height: 500px;
    background:rgb(79, 144, 36);
    margin:70px auto 0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.containF{
    width:1200px;
    min-height: 500px;
    background:rgb(144, 180, 149);
    margin:70px auto 0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.containG{
    width:1200px;
    min-height: 500px;
    background:rgb(51, 86, 139);
    margin:70px auto 0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.containH{
    width:1200px;
    min-height: 500px;
    background:rgb(208, 219, 218);
    margin:70px auto 0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.containI{
    width:1200px;
    min-height: 500px;
    background:rgb(2, 16, 29);
    margin:70px auto 0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0%;
}
.box{
    margin-bottom: 20px;
    margin-right:20px;
    margin-left: 20px;
    margin-top:20px;
}
.contain.box{
    position: relative;
    width:180px;
    height: 180px;
    background:burlywood;
    margin:10px;
    box-sizing: border-box;
    display:inline-block;

}
.contain.box.imgBox{
    position: relative;
    overflow: hidden;
}
.contain.box.imgBox img{
    max-width:100%;
    transition: transform 2s;
}
.contain.box:hover.imgBox img{
transform:scale(1.2);
}
.contain.box.details{
    position: absolute;
    top: 10px;
    left:10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0,0,0,.8);
}
contain.box.details.content{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    text-align: center;
    padding:15px;
    color:#142b47;

}